*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/app/proguard-rules.pro
/app/androidTest
/app/test
/captures
.externalNativeBuild
.cxx
hihi.txt
gradle.properties
build.gradle
gradlew
gradlew.bat
settings.gradle